body {
  margin: 0;
  box-sizing: border-box;
}

.hero {
  background-image: url(../images/beach.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  color: #926239;
  
}
h1{
  font-size: 50px;
  
}
button {
  color: #926239;
}

.footer div {
  display: inline-block;
  border: 1px solid blue;
  width: 33.3% 


}

.main {
  border: 1px solid red;
}


